@keyframes bounce-animation {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, -50%) translateY(0);
    }

    40% {
        transform: translate(-50%, -50%) translateY(-30px);
    }

    60% {
        transform: translate(-50%, -50%) translateY(-15px);
    }
}

.widget-button {
    position: fixed;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #033110;
    border-radius: 15px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    animation: bounce-animation 2s infinite;
    z-index: 9000000;
    color: blanchedalmond;
    padding-top: 9px;
    padding-bottom: 9px;
}
.envelopeb {
    animation: pulse-animation 4s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(3, 49, 16, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(3, 49, 16, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(3, 49, 16, 0);
    }
}

.widget-button img {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease;
}

.widget-button:hover img {
    transform: scale(1.1);
}

.popup-box {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    display: none;
    opacity: 0;
    transform: scale(0.95) translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    overflow-y: auto;
    max-height: 85%;
    border-radius: 10px;
    padding: 10px 15px;
    z-index: 9000000;
}

.popup-box.active {
    display: block;
    opacity: 1;
    transform: scale(1) translateY(0);
}

.form-item {
    margin-bottom: 20px;
}

.select-field.w-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button.w-button {
    background-color: #033110;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.no-animation {
    animation: none !important;
}
