.three-column-wrapper {
  display: flex;
  justify-content: space-between;
}

.three-columns {
  flex: 1;
  margin: 0 10px;
}

.about-block-image-wrapper {
  position: relative;
  display: block;
}

.about-block-images {
  width: 100%;
  height: auto;
  display: block;
}

.text-card {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #000;
  padding: 20px;
  text-align: left;
  max-width: calc(100% - 20px);
  box-sizing: border-box;
  border-radius: 9px;
}

.text-card h5,
.text-card p {
  margin: 0;
  padding: 5px 0;
  
}
.text-card h5 {

  text-shadow: 4px 4px 8px #008f00, 4px -4px 8px #008f00;
}
.text-card p {
  color: antiquewhite;
}