.fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    height: 0;
}

.reverseit {
    transform: rotateZ(180deg);
}

.darkBackground {
    background: url("/images/hero.jpg") center / cover no-repeat fixed;
    height: 100vh;
}

@media screen and (min-width: 768px) {
    .darkBackground {
        margin: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

}
.textright {
    text-align: right;
}
.textleft {
    text-align: left;
}
.metitle {
    font-family: 'Conthrax', sans-serif !important;
    font-size: 60px !important;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), 4px -4px 8px rgba(0, 0, 0, 0.3);
}
.textwhity {
    color: white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5), 4px -4px 8px rgba(0, 0, 0, 0.3);
}