@media (max-width: 992px) {
    .offer {
      align-items: center;
      justify-content: center;
      height: 60vh;
    }
    .offer-illus {
      position: absolute;
    }
  
    .offer-illus-img {
      z-index: 100000000000000000000000000;
    }
  
    .offer-desc {
      z-index: 200000000000000000000000000;
    }
  
    #four {
      overflow-x: hidden;
    }
  }